.footer-page {
  background-color: $green-deep;
  padding-bottom: $column-gutter;
  .inner {
    padding-top: $column-gutter;

    &:before {
      content: " ";
      display: table;
      width: 100%;
      height: rem-calc(40);
      background: url(../images/footer-shadow.png) center center no-repeat;
      margin-bottom: $column-gutter;
      margin-left: -$column-gutter/2;
      position: absolute;
      top: 0;
      max-width: $max-width-inner;
    }
  }

  ul {
    margin-left: 0;
    li {
      list-style: none;
      margin-left: 0;
      a {
        color: $sand-light;
      }
    }
  }

  .contact-block {
    background: rgba(28, 64, 7, 0.1);
    padding: $column-gutter/2 $column-gutter 0 $column-gutter !important;
    color: $sand-light;
    h3 {
      color: $sand-light;
    }
  }

  .legals {
    color: $sand-light;
    p {
      margin-bottom: 0;
    }
    hr {
      border: rem-calc(2) solid transparentize(#EEDF6A, .35);
    }
  }
}