header.page-header {
  .pane-gtranslate-gtranslate {
    display: inline;
    position: relative;
  }
  a.button:not(:last-child) {
    margin-right: $column-gutter/2;
  }
  // bad.
  @media #{$small-only} {
    a.button:last-child {
      margin-left: $column-gutter/2 !important;
    }
  }
}

.page-perso header {
  padding: 0;
  .button {
    margin-bottom: 0;
  }
}