.page-perso-content,
.page-perso-coup-coeur,
.page-perso-users,
.page-perso-contact,
.page-perso.page-taxonomy-term {
  aside {
    margin-top: $column-gutter;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
}

.page-perso-contact-messages {
  aside {
    opacity: 1;
  }
}

//.page-perso.page-perso-annonces,
//.page-perso.page-perso-content {
//  .search-filters.annonces,
//  .search-filters.bien {
.page-perso {
  .search-filters {
    margin-top: $column-gutter;
    h2 {
      margin-top: 0;
      &:not(:first-child) {
        border-top: rem-calc(1) solid $silver;
      }
    }
    ul.facetapi-facetapi-links {
      background: $white;
      padding: $column-gutter/2 0;
      border: none;
      li {
        a {
          background: $white;
          font-family: $font-family-sans-serif;
          font-size: 1rem;

          &:hover {
            background: transparentize($black, .95);
          }
        }
      }
    }
    .facetapi-limit-link {
      display: block;
      text-align: center;
    }

  }
  .views-widget-filter-search_api_views_fulltext {
    margin-bottom: $column-gutter;
  }
}

.page-perso {
  .search-filters {
    margin-top: $column-gutter;

    .fivestar-static-item .form-item {
      margin: 0;
    }

    h2 {
      margin-top: 0;
      border-top: rem-calc(1) solid $silver;
      &:first-child {
        border: none;
      }
    }
    .view-liste-bien, .view-bien-search-api {
      background: $white;
      padding-bottom: $column-gutter/2;

      .views-row {
        padding: $column-gutter/2 $column-gutter;

        .label {
          margin-right: $column-gutter/2;
        }

        &:hover {
          background: transparentize($sand-light, .8);
          a {
            color: black;
          }
        }
      }
      a.active {
        background: none;
      }
    }
  }
}

.page-perso.page-perso-historique .search-filters {
  h2.pane-title, ul {
    border: none !important;
  }
  //h2.pane-title {
  //  padding: $column-gutter/2 $column-gutter $column-gutter/2 $column-gutter !important;
  //}

  .pane-card-people-panel-pane-2 {
    border-bottom: rem-calc(1) solid $silver !important;
  }

  .side-nav:not(:last-child),
  .view-id-liste_bien.view-display-id-panel_pane_5 {
    border-bottom: rem-calc(1) solid $silver !important;
  }
}

.page-perso.page-perso-coup-coeur {
  aside {
    margin-top: $column-gutter;
  }
}

.page-perso .search-filters {
  //padding-top: $column-gutter;

  ul.side-nav {
    border-top: 0 !important;
  }

  h2 {
    padding-top: $column-gutter/2;
  }
  small.subtitle {
    display: block;;
    font-size: .8rem;
    color: $grey-smoke;
  }
  p {
    margin: 0;
  }
  a {
    font-family: $font-family-sans-serif;
  }

  .inline-list {
    padding: 0 $column-gutter/2;
    a {
      padding: $column-gutter/2;
      color: $blue-sea;
      &:hover, &.active {
        background: transparent;
        text-decoration: underline;
        color: $blue-sea;
      }
    }
  }

  .pane-component-block-contact-text {
    color: $grey-black;
    p:not(:last-child) {
      margin-bottom: $column-gutter;
    }

    h3.tel {
      font-size: 2rem;
      font-family: $font-family-serif;
      text-align: center;
      margin-bottom: $column-gutter;
    }
  }

  .view.view-card-people {
    & > div {
      margin-bottom: $column-gutter/2;
    }
  }

  .flag {
    font-family: $font-family-sans-serif;
    &.flag-waiting {
      opacity: .5;
      a:hover {
        cursor: default;
      }
    }
  }
  .flag-throbber {
    display: none;
  }

  .view {
    .view-empty {
      background: $white;
      p {
        margin-bottom: 0;
        padding-bottom: 1.25rem;
      }
    }
  }

  .pane-user-online, .pane-user-new {
    h2 {
      margin-top: 0;
      border-top: rem-calc(1) solid $silver !important;
    }
    .pane-content {
      padding: 0;
      background: $white;

      p {
        padding: 0 $column-gutter;
      }
      ul {
        border: none;
        li {
          padding: 0;
          margin: 0;
          a {
            font-family: $font-family-sans-serif;
            font-size: 1rem;
          }
        }
      }
    }
  }

  .view-liste-caracteristiques-bien {
    p {
      padding-bottom: $column-gutter/2;
    }
  }

  &.bien {
    h2:not(:first-child) {
      margin-top: 0;
      border-top: rem-calc(1) solid $silver;
    }
  }

  &.left-sidebar {
    .field.field-wrapper {
      padding: 0 $column-gutter $column-gutter/2 $column-gutter;
      margin-top: 0;
      background: $white;
    }
    .field-name-field-photos {
      padding: 0 $column-gutter/4 $column-gutter/4 $column-gutter/4;
      background: $white;
      max-width: 100%;
      max-height: 100%;

      a img {
        float: left;
        width: 50%;
        padding: $column-gutter/4;
      }
      a:nth-child(odd) img {
        padding-left: 0;
      }
      a:nth-child(even) img {
        padding-right: 0;
      }
    }

    .pane-bien-description a {
      color: $blue-sea;
      text-decoration: underline;
      font-size: 1rem;
    }
  }
}

.page-perso .pane-page-user-bien-search-api-collec,
.page-perso .pane-page-user-terrain-search-api-col,
.page-perso .pane-term-taxonomy-page-localite-main,
.page-perso .pane-page-user-bien-search-api-collec{
  div.row > .columns.medium-8 {
    padding-right: .5rem;
  }
  div.row > .columns.medium-4 {
    padding-left: .5rem;
  }
}

.page-perso.node-type-page {
  .node-title {
    font-size: 1.2rem;
    position: absolute;
    top: rem-calc(100);
    z-index: 1;
    max-width: rem-calc(500);
    left: 50%;
    margin-left: -250px;
    text-align: center;
    padding: $column-gutter/2 $column-gutter;
    background: transparentize($primary-color, .05);
    color: $white;
  }

  h2.pane-title {
    font-family: $font-family-sans-serif;
    font-size: .8rem;
    color: $grey-smoke;
    padding-top: $column-gutter/2;
    margin: 0;
    &:first-child {
      padding-top: $column-gutter;
    }
  }

  .term.pane-title {
    background: $white;
    margin: $column-gutter 0 0 0;
    padding: $column-gutter $column-gutter $column-gutter/2 $column-gutter;

    h2 {
      font-family: $font-family-sans-serif;
      font-size: .8rem;
      color: $grey-smoke;
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
}