body.page-user, body.page-perso {
  background: $sand-pinky !important;
  &.not-logged-in {
    h1 {
      text-align: center;
      margin: 0;
      padding: $column-gutter 0;
      background: $white;
    }
  }

  &.logged-in {
    header {
      background: $green-deep;
      padding: 0 0 0 $column-gutter !important;
      .button {
        margin-bottom: 0;
      }
    }
    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
      line-height: 2.6rem;
      &, a {
        color: $white;
      }
    }

    .tabs {
      padding: 0;
    }

    .tabs-content .content {
      padding: 0 !important;
    }

    .search-filters .views-submit-button button {
      max-width: 3rem;
    }
  }
}

.page.full-height.align-middle {
  .columns {
    max-width: rem-calc(500);
  }
}

.page-entityform-edit {
  fieldset.date-combo.form-wrapper {
    padding: 0;
  }

  .chosen-container.chosen-container-multi.form-select {
    max-width: rem-calc(420);
  }

  .chosen-choices .search-choice {
    width: 98%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.page-perso .entityform.entitytype-message-form, .page-perso .replies-form form {
  button.form-submit {
    margin-bottom: 0;
  }

  .field-widget-image-image.form-wrapper {
    fieldset {
      border: none;
      padding: 0;

      .image-widget-data {
        width: 100%;

        input[type=file] {
          display: inline-block;
          width: 100%;
          max-width: 20rem;
        }

        .form-submit {
          display: inline-block;
          padding: .5rem;
          font-size: .8rem;
        }
      }
    }
  }
}

.page-perso .entityform.entitytype-message-form {
  .field-name-field-public {
    background: transparentize($black, .95);
    padding: $column-gutter;
    margin-bottom: $column-gutter;
    border: $iron;

    input {
      margin: 0;
    }

    .form-item {
      margin: 0;
    }
  }
}

.page-perso .main-search {
  margin: $column-gutter 0 0 0;

  .views-exposed-widgets, .views-exposed-widget, input, button, .form-submit {
    margin: 0 !important;
  }
  .views-exposed-widgets, .views-exposed-widget {
    padding: 0;
  }
  .views-exposed-widget:not(.views-submit-button) {
    width: calc(100% - 3.5rem);
    max-width: none;
  }
  button.form-submit {
    width: 3.5rem;
    padding: 0;
    height: 2.3rem;
  }
}

.page-perso .search-filters h3,
.page-perso .search-filters .pane-title {
  font-family: $font-family-sans-serif;
  background: $white;
  margin: 0 0 0 0;
  font-size: .8rem;
  color: $grey-smoke;
  padding: $column-gutter $column-gutter $column-gutter/2 $column-gutter !important;
}

.page-perso .search-filters {
  color: $grey-black;
  overflow: visible;

  .side-nav, ul {
    background: $white;
    padding-top: 0;
    padding-bottom: $column-gutter/2;
    border: none;
    a {
      color: $grey-smooth;
      font-size: 1rem;
    }
    &:nth-child(2) {
      padding-bottom: $column-gutter/2;
    }
    &:nth-child(n+3) {
      border-top: rem-calc(1) solid $silver;
      padding: $column-gutter/2 0;
    }
  }

}

.page-perso.node-type-bien-immobilier .search-filters.right-sidebar {
  h2 {
    border-top: rem-calc(1) solid $silver;
  }
}

.page-perso {
  .view-header {
    position: absolute;
    right: 0;
    top: rem-calc(5);
  }
  //&.page-perso-historique .view-header,
  //&.page-perso-content .view-header,
  //&.page-perso-users .view-header {
  //  top: rem-calc(-125);
  //}
  &, div {
    //font-size: .8rem;
    color: $grey-smoke;
  }
  .cards .card {
    margin-bottom: $column-gutter/2;
  }
}

.page-perso-contact, .page-perso-content {
  .search-filters {
    margin-top: $column-gutter;

    .view-id-visites .collection {
      border: none !important;
      .inner, .subtitle {
        color: $grey-smooth;
      }
    }

    h2.pane-title {
      margin: 0;
      border-top: rem-calc(1) solid $silver;

      &:first-child {
        border: none;
        padding-top: $column-gutter/2;
      }
    }

    .view-custom-report:not(first-child) {
      //margin-bottom: $column-gutter/2;
      span {
        color: $grey-smooth;
      }
    }
  }
}

.page-perso-users .pane-page-user-landing-page-user .views-widget-filter-field_nom_prenom_value {
  max-width: rem-calc(270);
}

.page-perso-contact-historique,
.page-perso-contact-selection {
  .collection .actions {
    display: none !important;
  }
}

.search-filters.historique {
  & > div {
    background: $white;
  }
  .view-content > div {
    padding: $column-gutter/2 $column-gutter;
    &:hover {
      background: transparentize($black, .98);
    }
    &:last-child {
      margin-bottom: $column-gutter/2;
    }
  }
}

body.page-perso .tabs-content .content {
  padding: 0;

  & > .row > .columns {
    margin-left: 0;
    margin-right: 0;
  }

  &.bien {
    h2 {
      border-top: rem-calc(1) solid $silver;
    }
  }
}

.page-perso-users .pane-page-perso-main-users .content > .row > .columns,
.page-perso-users .pane-page-perso-main-users .content > .row > .columns {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.page-perso .collection .actions {
  position: absolute;
  //margin-top: 1.65rem;
  //text-align: right;
  right: $column-gutter;
  top: $column-gutter;
  //margin-right: $column-gutter;
  .button {
    //margin-bottom: $column-gutter;
  }

  .flag-wrapper a {
    background: none;

    &.unflag-action {
      background: none;
    }
  }
}

.page-perso .collection .subtitle a.flag {
  @include label(
    // This option sets label text-size
          $text-size: .8rem,
            // This option sets label background-color
          $bg: $warning-color,
            // This option sets the radius of the label
          $radius: 4px
  );
  &.unflag-action {
    background: $success-color;
  }
}

.page-perso-contact-calculs {
  .view-visites.view-display-id-panel_pane_2,
  .view-visites.view-display-id-panel_pane_5 {
    min-height: rem-calc(150);
  }
  .view-empty p {
    margin: 0;
    padding: 0;
  }
}

.page-perso .collections.message .replies-form .field-name-field-photos-private table {
  width: 100%;
  @extend .clearfix;
  .image-preview {
    width: 100%
  }
  thead {
    display: none;
  }
  tbody {
    border-top: none;
  }
  tr {
    width: 33%;
    display: inline-table;
    position: relative;
    background: transparent;
    border: none;
    td:last-child {
      display: none;
    }
    &:hover {
      td:last-child {
        display: block;
      }
    }
  }
}

body.page-user.not-logged-in.page-user-register {
  .page.full-height.align-middle main > .columns {
    max-width: 45rem;
  }
  form {
    text-align: center;
    padding: 0;
    & > div > .row {
      text-align: left;
      @include grid-row();
      & > .columns, & > .column {
        @include grid-column(6);
      }
    }
  }

  .confirm-parent, .password-parent {
    width: 100%;
  }

  .form-type-password label {
    clear: both;
  }

  .password-confirm {
    margin-top: 0;
  }
}

form#user-login-form {
  ul {
    display: none;
  }
}