body.page-taxonomy-term .view-cards-bien {
  @media #{$large-up} {
    .card.views-row-odd .wrapper {
      margin-right: $column-gutter/2;
    }
    .card.views-row-even .wrapper {
      margin-left: $column-gutter/2;
    }
  }
}

.page-perso.page-taxonomy-term {

  aside {
    margin-top: $column-gutter;
  }

  .node-title {
    font-size: 1.2rem;
    position: absolute;
    top: rem-calc(100);
    z-index: 1;
    max-width: rem-calc(500);
    left: 50%;
    margin-left: -250px;
    text-align: center;
    padding: $column-gutter/2 $column-gutter;
    background: transparentize($primary-color, .05);
    color: $white;
  }

  h2.pane-title {
    font-family: $font-family-sans-serif;
    font-size: .8rem;
    color: $grey-smoke;
    padding-top: $column-gutter/2;
    margin: 0;
    &:first-child {
      padding-top: $column-gutter;
    }
  }

  .term.pane-title {
    background: $white;
    margin: $column-gutter 0 0 0;
    padding: $column-gutter $column-gutter $column-gutter/2 $column-gutter;

    h2 {
      font-family: $font-family-sans-serif;
      font-size: .8rem;
      color: $grey-smoke;
      display: inline-block;
      padding: 0;
      margin: 0;
    }
  }

  .taxonomy-term-description {
    max-height: rem-calc(21*8);
    overflow: hidden;
    color: $grey-black;
  }
  .less-desc {
    display: none;
  }

  /*
   * field description
  */
  .pane-taxonomy-term-description.desc-open {
    .taxonomy-term-description {
      max-height: none;
      overflow: visible;
    }
    .more-desc {
      display: none;
    }
    .less-desc {
      display: block;
    }
  }
  .less-desc, .more-desc {
    margin-bottom: 0;
    a {
      display: block;
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      background: rgba(255, 255, 255, 0.85);
      padding: 1rem 0 .5rem 0;
      font-size: .8rem;
      left: 0;
    }
  }
  .less-desc a {
    position: relative;
    margin: 0;
  }

  .cards .card {
    &.views-row-odd, &.views-row-even {
      .wrapper {
        margin: 0 !important;
      }
    }
  }

  /*
   * sidebar
   */
  .left-sidebar {
    .view .view-content > .views-row, .field.field-wrapper {
      padding: 0 $column-gutter $column-gutter/2 $column-gutter;
      margin-top: 0;
      background: $white;
    }
    .field-name-field-photos {
      padding: 0 $column-gutter/4 $column-gutter/4 $column-gutter/4;
      background: $white;
      max-width: 100%;
      max-height: 100%;

      a img {
        float: left;
        width: 50%;
        padding: $column-gutter/4;
      }
    }

    ul {
      padding: $column-gutter/2 0;
    }

    .pane-taxonomy-term-field-photos {
      border-bottom: rem-calc(1) solid $silver;
      //border-top: rem-calc(1) solid $silver;
    }

    .view-localite-aggr-bien .views-row.views-row-last,
    .view-liste-bien .views-row.views-row-last {
      background: $white;
      padding-bottom: $column-gutter/2;
    }
    .view-localite-aggr-bien {
      //border-bottom: rem-calc(1) solid $silver;
    }
    h2:not(first-child) {
      border-top: rem-calc(1) solid $silver;
    }

    .pane-block-list-link-actions-perso-us {
      h2 {
        padding-top: 0;
        margin-top: 0 !important;
        border-bottom: rem-calc(1) solid $silver !important;
      }
    }

  }

  /*
   * field photo sidebar
  */
  .term.left-sidebar {
    .field-name-field-photos .mfp-gallery-image {
      max-height: rem-calc(155);
      overflow: hidden;
    }

    .field-name-field-photos.more-open {
      .more-photos {
        display: none;
      }
      .less-photos {
        display: block;
      }
      .mfp-gallery-image {
        max-height: none;
        overflow: visible;
      }
    }
  }

  .search-filters.right-sidebar {
    //.block-filters {
    //  transition: all 300ms cubic-bezier(0.8, 0.15, 0.82, 0.94);
    //  visibility: hidden;
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    //  opacity: 0;
    //}

    & > div:not(:first-child) {
      border-top: rem-calc(1) solid $silver;
      //border: none !important;
    }
    & > h2 {
      border: none !important;
    }
    & > div:nth-child(n+4) {
      ul {
        border-bottom: rem-calc(1) solid $silver !important;
      }
    }
    & > div:last-child {
      border: none !important;
    }
    ul.facetapi-facetapi-links {
      background: $white;
      padding: $column-gutter/2 0;
      border: none;
      li {
        a {
          background: $white;
          font-family: $font-family-sans-serif;
          font-size: 1rem;

          &:hover {
            background: transparentize(black, .98);
          }
          &.facetapi-active {
            background: transparentize(black, .95);
          }
        }
      }
    }

    .item-list {
      border: none !important;
      &:not(:last-child) {
        border-bottom: rem-calc(1) solid $silver !important;
      }
    }
  }

  .row {
    position: relative;
  }
}

.pane-block-list-link-actions-perso-us {
  h2 {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}

.pane-term-taxonomy-page-localite-main {
  img {
    width: 100%;
  }
}