.page-perso {
  .entitytype-calcul_capacite_remboursement-form,
  .entitytype-montant_loyer-form,
  .entitytype-calcul_capacite_emprunt-form,
  .entitytype-duree_remboursement-form {
    padding-top: $column-gutter;
    border-top: 1px solid $silver;

    input[type=text] {
      width: 80%;
      float: left;
    }
    .field-suffix {
      line-height: 2.35rem;
      font-size: 1rem;
      margin-left: 1rem;
    }

    .field-name-field-duree-emprunt input {
      width: 67%;
    }
  }

  .entityform.entitytype-montant_loyer-form {
    min-height: 12rem;
  }

  &.page-perso-contact-calculs {
    .loyer, .mensualites {
      .collection {
        min-height: rem-calc(150);
      }
    }

    .capacite-emprunt, .duree-emprunt {
      .view.collections {
        min-height: 11.5rem;
      }
    }

    .field-name-field-capacite-remboursement,
    .field-name-field-montant-loyer,
    .field-name-field-capacite-emprunt,
    .field-name-field-duree-remboursement,
    .field-name-field-duree-remboursement-annee {
      display: none;
    }
  }
}