body.node-type-bien_immobilier.print {
  padding: 1rem;
  margin: 0;
  height: 100%;

  .bg {
    background-color: $green-deep !important;
    -webkit-print-color-adjust: exact;
  }

  .columns {
    width: 50% !important;
  }

  h2.node-title {
    display: none !important;
  }

  h1 {
    padding-bottom: 1.5rem;
    padding-left: .5rem;
    display: inline-block;
    padding-right: .5rem;
    color: $white !important;
    background-color: $green-deep !important;
    -webkit-print-color-adjust: exact;

    small {
      display: block;
      font-size: 1.3rem;
      color: $white !important;
      font-family: $font-family-sans-serif;
    }
  }

  .url {
    font-size: 1rem;
    font-family: $font-family-sans-serif;
    text-decoration: underline;
    color: $blue-sea !important;
    margin-top: 1rem;
  }

  .field {
    font-weight: bold;
    .field-label {
      font-weight: normal;
    }
    h2.field-label {
      font-size: 1rem;
      font-family: $font-family-sans-serif;
      padding: 0;
      margin: 0;
      margin-right: $column-gutter/4;
    }
    .field-label {
      color: $grey-black;
    }
    ul {
      &, li {
        margin: 0;
        padding: 0;
      }
      li {
        display: inline-block;
        margin-right: .5rem;
      }
    }
  }

  .field-name-title-field {
    margin: $column-gutter 0 0;
    font-size: 1.5rem;
  }

  .field-name-field-photos img {
    margin: $column-gutter/2 1%;
    width: 48%;
  }
}