/*.button.tiny {
  padding-left: $button-tny*.8;
  padding-right: $button-tny*.8;
}

.button.small {
  padding-left: $button-sml*.8;
  padding-right: $button-sml*.8;
}

.button {
  padding-left: $button-med*1.2;
  padding-right: $button-med*1.2;
}

.button.large {
  padding-left: $button-lrg*.8;
  padding-right: $button-lrg*.8;
}

.button.text {
  //padding-right: .8rem;
  //@include single-transition(left, .3s, ease-out);

  span {
    // // to fix some bug ..
    // // ex: button on signin sign up form
    //padding: .95rem $column-gutter 1.05rem $column-gutter*.7;
    //font-size: .95rem;

    padding: 1rem $column-gutter 1.05rem $column-gutter*.7;
    margin-right: -$column-gutter;
    margin-left: $column-gutter*.7;
    line-height: $column-gutter*.9;
    //&:hover {
    //  background: scale_color($primary-color, $lightness: -20%);
    //}
  }
}*/

.button {
  padding-left: 1rem;
  padding-right: 1rem;

  i {
    font-size: 1.35rem;
    line-height: 1rem;
  }
}

@media #{$small-only} {
  .button {
    i {
      line-height: .85rem;
      font-size: 1rem;
    }
    &.text i {
      margin-right: .5rem;
    }
    margin-bottom: $column-gutter/2;

    &.text.expand:not(.icon), &:not(.icon) label {
      @extend .ellipsis;
    }
  }
}

.button {
  line-height: 1rem;

  small {
    line-height: .5rem;
  }

  &.text i {
    @media #{$small-only} {
      margin-right: $column-gutter/2;
    }
    @media #{$medium-up} {
      margin-right: $column-gutter;
    }
  }

  &.secondary {
    &:hover {
      background: $sand-light;
    }
    &:active {
      background: scale_color($sand-light, $lightness: -20%);
    }
  }
}

.button.info:hover {
  color: $grey-black;
}

a.custom-button-to-open {
  @include animation(heartbeat 1300ms ease 0s infinite normal);
  width: rem-calc(90);
  height: rem-calc(90);
  background: transparentize($white, .35); // url(../images/icon-maximize.png) center center no-repeat;
  border-radius: 50%;
  box-shadow: 0 rem-calc(5) rem-calc(12) rem-calc(1) transparentize($black, .35);
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: rem-calc(-120/2);
  padding: .5rem 1.25rem;
  font-size: 3rem;
}