.grid-photos {
  & > .columns, & > .column {
    &.views-row-odd {
      padding-left: 0;
      padding-right: $column-gutter/2;

      &.views-row-last:not(.end) {
        padding-right: 0;
        padding-left: $column-gutter/2;
      }

      @media #{$small-only} {
        padding: 0 !important;
      }
    }
    &.views-row-even {
      padding-right: 0;
      padding-left: $column-gutter/2;

      @media #{$small-only} {
        padding: 0;
      }
    }
  }
}