.list-stats {
  color: $grey-smoke;
  padding: 0;
  background: $white;
  margin: 0;

  .views-row, &.short .view-content .views-field {
    padding: $column-gutter/2 $column-gutter;

    &:first-child, &:last-child {
      padding-top: $column-gutter/2;
    }
    &:hover {
      background: transparentize($sand-light, .85);
    }

    .small {
      position: relative;
      bottom: rem-calc(10);
    }
  }

  &.short {
    .field-content {
      color: black;
      float: right;
    }
  }

}