.list.bien {

  button.slick-prev {
    left: -$column-gutter/2;
  }
  button.slick-next {
    right: -$column-gutter/2;
  }

  @media #{$large-up} {
    padding: 0 $column-gutter*4;

    button.slick-prev {
      left: 0;
    }
    button.slick-next {
      right: 0;
    }
  }

  h3 {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    padding: $column-gutter 0 $column-gutter/2 0;
  }

  .subtitle {
    font-size: .85rem;
    margin-top: $column-gutter/2;
  }

  .slick-slide {
    padding: $column-gutter/2;
  }
}

.list.localite {
  @include list-side-nav();
}

.list-mini {
  list-style: none;
  margin: 0;
  li {
    color: $grey-smooth;
    padding-left: 1rem;
    position: relative;
    &:before {
      content: "-";
      position: absolute;
      left: 0;
      font-size: .8rem;
    }
  }
}