.sign-in-block {
  background: $silver;
  padding: 0 $column-gutter;
  margin-bottom: $column-gutter;

  form {
    text-align: center;
    ul li {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
    }
    button[type="submit"] {
      margin: auto;
      margin-bottom: $column-gutter;
    }
  }
}