$throbber-size: 80;
.ajax-progress {
  @include single-transition();

  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background: transparentize($sand-pinky, .2);
  top: 0;
  left: 0;

  &.wait {
    background: $sand-pinky;
  }

  .throbber {
    width: rem-calc($throbber-size);
    height: rem-calc($throbber-size);
    margin-left: 0;
    margin-top: rem-calc(-$throbber-size/2);
    background: none;
    border: none;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
  }
}

div.form-managed-file div.ajax-progress {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
}

.form-type-textfield {
  .ajax-progress {
    position: absolute;
    right: 0;
    background: transparent;
    .throbber {
      position: absolute;
      margin-top: $column-gutter/2;
      padding: 0;
      top:0
    }
  }
}