$max-width-inner: rem-calc(1440);

// custom colors
$grey-black: #333333;
$grey-smooth: #4d4d4d;
$grey-smoke: #797979;
$green-deep: #0C7B2E;
$sand-light: #F3D6B8;
$sand-clean: #FFECEA;
$sand-brown: #C9AC8E; //d5ccb2;
$sand-pinky: #fce9e7;
$blue-sea: #008CBA;
$vapor: #F6F6F6;

$shadow-active-item: 0 0 1rem transparentize($grey-smoke, .5);
$shadow-active-item-large: 0 0 2rem transparentize($grey-smoke, .5);

// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

// This is the default html and body font-size for the base rem value.
// $rem-base: 16px;

@import "foundation/functions";

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
// $base-font-size: 100%;

// The $base-font-size is 100% while $base-line-height is 150%
// $base-line-height: 150%;

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
// $include-print-styles: true;
$include-html-global-classes: $include-html-classes;

// b. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-grid-classes: $include-html-classes;
// $include-xl-html-grid-classes: false;

$row-width: 100%;
//$total-columns: 12;
$column-gutter: rem-calc(15);

// c. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

// We use these to define default font stacks
$font-family-sans-serif: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Mate SC", Georgia, Cambria, "Times New Roman", Times, serif;
// $font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// We use these to define default font weights
// $font-weight-normal: normal !default;
// $font-weight-bold: bold !default;

$white: #FFFFFF;
$ghost: #FAFAFA;
$snow: #F9F9F9;
$vapor: #F6F6F6;
$white-smoke: #F5F5F5;
$silver: #EFEFEF;
$smoke: #EEEEEE;
$gainsboro: #DDDDDD;
$iron: #CCCCCC;
$base: #AAAAAA;
$aluminum: #999999;
$jumbo: #888888;
$monsoon: #777777;
$steel: #666666;
$charcoal: #555555;
$tuatara: #444444;
$oil: #333333;
$jet: #222222;
$black: #000000;

// We use these as default colors throughout
$primary-color: #ee454c; //#008CBA;
$secondary-color: $sand-clean; //#e7e7e7;
$alert-color: #f04124;
$success-color: #0C7B2E;
$warning-color: #f08a24;
$info-color: $sand-light;

// We use these to control various global styles
// $body-bg: $white;
// $body-font-color: $jet;
// $body-font-family: $font-family-sans-serif;
// $body-font-weight: $font-weight-normal;
// $body-font-style: normal;

// We use this to control font-smoothing
// $font-smoothing: antialiased;

// We use these to control text direction settings
// $text-direction: ltr;
// $opposite-direction: right;
// $default-float: left;
// $last-child-float: $opposite-direction;

// We use these to make sure border radius matches unless we want it different.
// $global-radius: 3px;
// $global-rounded: 1000px;

// We use these to control inset shadow shiny edges and depressions.
// $shiny-edge-size: 0 1px 0;
// $shiny-edge-color: rgba($white, .5);
// $shiny-edge-active-color: rgba($black, .2);

// d. Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $small-range: (0em, 40em);
// $medium-range: (40.063em, 64em);
// $large-range: (64.063em, 90em);
// $xlarge-range: (90.063em, 120em);
// $xxlarge-range: (120.063em, 99999999em);

// $screen: "only screen";

// $landscape: "#{$screen} and (orientation: landscape)";
// $portrait: "#{$screen} and (orientation: portrait)";

// $small-up: $screen;
// $small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

// $medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
// $medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

// $large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
// $large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

// $xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
// $xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

// $xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
// $xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// Legacy
// $small: $medium-up;
// $medium: $medium-up;
// $large: $large-up;

// We use this as cursors values for enabling the option of having custom cursors in the whole site's stylesheet
// $cursor-crosshair-value: crosshair;
// $cursor-default-value: default;
// $cursor-pointer-value: pointer;
// $cursor-help-value: help;
// $cursor-text-value: text;

// e. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-type-classes: $include-html-classes;

// We use these to control header font styles
$header-font-family: $font-family-serif;
// $header-font-weight: $font-weight-normal;
// $header-font-style: normal;
$header-font-color: $grey-smooth;
// $header-line-height: 1.4;
// $header-top-margin: .2rem;
// $header-bottom-margin: .5rem;
// $header-text-rendering: optimizeLegibility;

// We use these to control header font sizes
// $h1-font-size: rem-calc(44);
// $h2-font-size: rem-calc(37);
$h3-font-size: rem-calc(28);
// $h4-font-size: rem-calc(23);
// $h5-font-size: rem-calc(18);
// $h6-font-size: 1rem;

// We use these to control header size reduction on small screens
// $h1-font-reduction: rem-calc(10) !default;
// $h2-font-reduction: rem-calc(10) !default;
// $h3-font-reduction: rem-calc(5) !default;
// $h4-font-reduction: rem-calc(5) !default;
// $h5-font-reduction: 0 !default;
// $h6-font-reduction: 0 !default;

// These control how subheaders are styled.
// $subheader-line-height: 1.4;
// $subheader-font-color: scale-color($header-font-color, $lightness: 35%);
// $subheader-font-weight: $font-weight-normal;
// $subheader-top-margin: .2rem;
// $subheader-bottom-margin: .5rem;

// A general <small> styling
// $small-font-size: 60%;
// $small-font-color: scale-color($header-font-color, $lightness: 35%);

// We use these to style paragraphs
// $paragraph-font-family: inherit;
// $paragraph-font-weight: $font-weight-normal;
// $paragraph-font-size: 1rem;
$paragraph-line-height: 1.35;
// $paragraph-margin-bottom: rem-calc(20);
// $paragraph-aside-font-size: rem-calc(14);
// $paragraph-aside-line-height: 1.35;
// $paragraph-aside-font-style: italic;
// $paragraph-text-rendering: optimizeLegibility;

// We use these to style <code> tags
// $code-color: $oil;
// $code-font-family: $font-family-monospace;
// $code-font-weight: $font-weight-normal;
// $code-background-color: scale-color($secondary-color, $lightness: 70%);
// $code-border-size: 1px;
// $code-border-style: solid;
// $code-border-color: scale-color($code-background-color, $lightness: -10%);
// $code-padding: rem-calc(2) rem-calc(5) rem-calc(1);

// We use these to style anchors
// $anchor-text-decoration: none;
// $anchor-text-decoration-hover: none;
$anchor-font-color: $grey-black;
// $anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);

// We use these to style the <hr> element
// $hr-border-width: 1px;
// $hr-border-style: solid;
// $hr-border-color: $gainsboro;
$hr-margin: $column-gutter/3;

// We use these to style lists
// $list-font-family: $paragraph-font-family;
// $list-font-size: $paragraph-font-size;
// $list-line-height: $paragraph-line-height;
// $list-margin-bottom: $paragraph-margin-bottom;
// $list-style-position: outside;
// $list-side-margin: 1.1rem;
// $list-ordered-side-margin: 1.4rem;
// $list-side-margin-no-bullet: 0;
// $list-nested-margin: rem-calc(20);
// $definition-list-header-weight: $font-weight-bold;
// $definition-list-header-margin-bottom: .3rem;
// $definition-list-margin-bottom: rem-calc(12);

// We use these to style blockquotes
// $blockquote-font-color: scale-color($header-font-color, $lightness: 35%);
// $blockquote-padding: rem-calc(9 20 0 19);
// $blockquote-border: 1px solid $gainsboro;
// $blockquote-cite-font-size: rem-calc(13);
// $blockquote-cite-font-color: scale-color($header-font-color, $lightness: 23%);
// $blockquote-cite-link-color: $blockquote-cite-font-color;

// Acronym styles
// $acronym-underline: 1px dotted $gainsboro;

// We use these to control padding and margin
// $microformat-padding: rem-calc(10 12);
// $microformat-margin: rem-calc(0 0 20 0);

// We use these to control the border styles
// $microformat-border-width: 1px;
// $microformat-border-style: solid;
// $microformat-border-color: $gainsboro;

// We use these to control full name font styles
// $microformat-fullname-font-weight: $font-weight-bold;
// $microformat-fullname-font-size: rem-calc(15);

// We use this to control the summary font styles
// $microformat-summary-font-weight: $font-weight-bold;

// We use this to control abbr padding
// $microformat-abbr-padding: rem-calc(0 1);

// We use this to control abbr font styles
// $microformat-abbr-font-weight: $font-weight-bold;
// $microformat-abbr-font-decoration: none;

// 05. Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-button-classes: $include-html-classes;

// We use these to build padding for buttons.
//$button-tny: rem-calc(10);
//$button-sml: rem-calc(14);
//$button-med: rem-calc(10);
//$button-lrg: rem-calc(18);

// We use this to control the display property.
// $button-display: inline-block;
$button-margin-bottom: $column-gutter;

// We use these to control button text styles.
// $button-font-family: $body-font-family;
// $button-font-color: $white;
// $button-font-color-alt: $oil;
// $button-font-tny: rem-calc(11);
// $button-font-sml: rem-calc(13);
// $button-font-med: rem-calc(16);
// $button-font-lrg: rem-calc(20);
// $button-font-weight: $font-weight-normal;
// $button-font-align: center;

// We use these to control various hover effects.
// $button-function-factor: -20%;

// We use these to control button border and hover styles.
// $button-border-width: 0px;
// $button-border-style: solid;
// $button-bg-color: $primary-color;
// $button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor);
// $button-border-color: $button-bg-hover;
// $secondary-button-bg-hover: scale-color($secondary-color, $lightness: $button-function-factor);
// $secondary-button-border-color: $secondary-button-bg-hover;
// $success-button-bg-hover: scale-color($success-color, $lightness: $button-function-factor);
// $success-button-border-color: $success-button-bg-hover;
// $alert-button-bg-hover: scale-color($alert-color, $lightness: $button-function-factor);
// $alert-button-border-color: $alert-button-bg-hover;

// We use this to set the default radius used throughout the core.
// $button-radius: $global-radius;
// $button-round: $global-rounded;

// We use this to set default opacity and cursor for disabled buttons.
// $button-disabled-opacity: 0.7;
// $button-disabled-cursor: $cursor-default-value;

/*
 * CUSTOM STYLES
 */

/*
 * margin & padding utilities
 */
.padding-0 {
  padding: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

@media #{$small-only} {
  .margin-1 {
    margin: $column-gutter/2 !important;
  }

  .margin-top-1 {
    margin-top: $column-gutter/2 !important;
  }

  .margin-right-1 {
    margin-right: $column-gutter/2 !important;
  }

  .margin-bottom-1 {
    margin-bottom: $column-gutter/2 !important;
  }

  .margin-left-1 {
    margin-left: $column-gutter/2 !important;
  }

  .padding-1 {
    padding: $column-gutter/2 !important;
  }

  .padding-top-1 {
    padding-top: $column-gutter/2 !important;
  }

  .padding-right-1 {
    padding-right: $column-gutter/2 !important;
  }

  .padding-bottom-1 {
    padding-bottom: $column-gutter/2 !important;
  }

  .padding-left-1 {
    padding-left: $column-gutter/2 !important;
  }

  .margin-2 {
    margin: $column-gutter !important;
  }

  .margin-top-2 {
    margin-top: $column-gutter !important;
  }

  .margin-right-2 {
    margin-right: $column-gutter !important;
  }

  .margin-bottom-2 {
    margin-bottom: $column-gutter !important;
  }

  .margin-left-2 {
    margin-left: $column-gutter !important;
  }

  .padding-2 {
    padding: $column-gutter !important;
  }

  .padding-top-2 {
    padding-top: $column-gutter !important;
  }

  .padding-right-2 {
    padding-right: $column-gutter !important;
  }

  .padding-bottom-2 {
    padding-bottom: $column-gutter !important;
  }

  .padding-left-2 {
    padding-left: $column-gutter !important;
  }
}

@media #{$medium-up} {
  .margin-1 {
    margin: $column-gutter !important;
  }

  .margin-top-1 {
    margin-top: $column-gutter !important;
  }

  .margin-right-1 {
    margin-right: $column-gutter !important;
  }

  .margin-bottom-1 {
    margin-bottom: $column-gutter !important;
  }

  .margin-left-1 {
    margin-left: $column-gutter !important;
  }

  .padding-1 {
    padding: $column-gutter !important;
  }

  .padding-top-1 {
    padding-top: $column-gutter !important;
  }

  .padding-right-1 {
    padding-right: $column-gutter !important;
  }

  .padding-bottom-1 {
    padding-bottom: $column-gutter !important;
  }

  .padding-left-1 {
    padding-left: $column-gutter !important;
  }

  .margin-2 {
    margin: $column-gutter*2 !important;
  }

  .margin-top-2 {
    margin-top: $column-gutter*2 !important;
  }

  .margin-right-2 {
    margin-right: $column-gutter*2 !important;
  }

  .margin-bottom-2 {
    margin-bottom: $column-gutter*2 !important;
  }

  .margin-left-2 {
    margin-left: $column-gutter*2 !important;
  }

  .padding-2 {
    padding: $column-gutter*2 !important;
  }

  .padding-top-2 {
    padding-top: $column-gutter*2 !important;
  }

  .padding-right-2 {
    padding-right: $column-gutter*2 !important;
  }

  .padding-bottom-2 {
    padding-bottom: $column-gutter*2 !important;
  }

  .padding-left-2 {
    padding-left: $column-gutter*2 !important;
  }
}

/*
 * icons
 */
.icon-terrain {
  &:before {
    content: " ";
    display: table;
  }
  margin-top: 1.35rem;
  margin-left: 1rem;
  width: rem-calc(70);
  height: rem-calc(70);
  background: url('../images/icon-terrain.png') center center no-repeat;
}

/*
 * colors set utilities
 */
.bg-white {
  background: $white;
}

.bg-success {
  background: $green-deep;
}

.bg-info {
  background: $sand-clean;
}

.bg-highlight {
  background: $sand-light;
}

.bg-light {
  background: $sand-pinky;
}

.bg-vapor {
  background: $vapor;
}

.gb-silver {
  background: $silver;
}

.color-blue {
  color: $blue-sea;
}

.color-warning {
  color: $warning-color;
}

/*
 * sizes utilities
 */
a, .button {
  &.large-2 {
    &:not(.button) {
      width: 100%;
    }
    &, span, label {
      font-size: 1.15rem;
      line-height: 1.35rem;
    }
    &.serif {
      &, span, label {
        font-size: 1.35rem;
        line-height: 1.35rem;
      }
    }
    i {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  &.large-3 {
    &:not(.button) {
      width: 100%;
    }
    &, span, label {
      font-size: 1.5rem; //!important;
      line-height: 3rem;
    }
    i {
      font-size: 3rem;
      line-height: 3rem;
    }

    &.text-2 label {
      font-size: 1rem;
      line-height: 1rem;
      margin-top: $column-gutter/2;
    }
  }
}

small.large-2 {
  font-size: 75%;
  width: 100%;
}

/*
 * styles utilities
 */
.white, .white label {
  color: $white;
}

.black, a.black {
  transition: all .3s ease-out;
  &, a, label, i, &.button {
    color: $grey-black; // !important;
  }
  &:hover {
    i, & {
      color: scale_color($grey-black, $lightness: -20%); // !important;
    }
  }
}

.text-shadow {
  text-shadow: 2px 2px 0 $grey-black;
}

/*
 * font-family & text
 */
.serif, .serif label {
  font-family: $font-family-serif !important;
}

.sans-serif, .sans-serif label {
  font-family: $font-family-sans-serif !important;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*
 * visibility
 */
.hiddable {
  position: relative;
  @include single-transition(opacity, .3s, ease-out);
}

.hiddable.default-hide {
  opacity: 0;
}

/*
 * position
 */
.fullscreen-for-medium-less {
  @media #{$small-only} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
  }
  @media #{$medium-only} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
  }
}

.hide-wrapper {
  padding-right: 2rem;
  .hide-button {
    position: absolute;
    right: 0;
    top: 1rem;
  }
}

.align-middle {
  display: table;
  margin: auto;
  main {
    display: table-cell;
    vertical-align: middle;
  }
}

.fixed-top-left {
  position: fixed !important;
  top: 0;
  left: 0;
}

.border-bottom-1-silver {
  border-bottom: rem-calc(1) solid $silver;
}
.border-top-1-silver {
  border-top: rem-calc(1) solid $silver;
}