p, a, span {
  font-family: $font-family-sans-serif;
}

.title a, a.title, .pane-page-site-name a {
  font-family: $font-family-serif;
}

//.gtflag {
//  border-radius: 50%;
//}

.goog-text-highlight {
  background: transparent;
  box-shadow: none;
}

.languages-selector {
  background: $sand-clean;
}

.inner.region-inner, .inner.pane-inner {
  max-width: $max-width-inner;
  margin: auto;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: inherit;
}

h3 {
  padding: 1rem 0;
  line-height: 1.5rem;
}

h4 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: $column-gutter/2;
  padding-top: $column-gutter/2;
}

i {
  vertical-align: middle;
}

p a {
  color: $blue-sea;
  text-decoration: underline;
  @include single-transition(all .3s ease-out);
  &:hover {
    color: scale-color($blue-sea, $lightness: -20%);
  }
}

.view-content {
  @extend .clearfix;
}

.pager.pager-load-more {
  @include side-nav();
  padding-top: 0;
  background: inherit;
  a {
    @extend .button;
    padding-top: $column-gutter !important;
    padding-bottom: $column-gutter !important;
    background: $blue-sea;
    line-height: 2rem;
    color: $white !important;
    &:hover {
      color: $grey-black !important;
    }
  }
}

.lettrine p:first-child::first-letter,
p.lettrine::first-letter {
  font-family: $font-family-serif;
  font-weight: normal;
  font-size: 3rem;
  float: left;
  text-indent: 0;
  margin-top: rem-calc(5);
  line-height: 2rem;
  margin-right: rem-calc(10);
}

.body.field {
  ul {
    list-style: none;
    margin: 0;
    li {
      &:hover {
        background: transparentize(#F3D6B8, .5);
      }
      padding: 1rem;
      background: transparentize(#F3D6B8, .75);
      margin: $column-gutter/2 0;
    }
  }
}

.action-add {
  z-index: 9;
  position: fixed;
  right: $column-gutter;
  bottom: 0;
  &:hover {
    box-shadow: $shadow-active-item-large;
  }
}

//body.page-perso-selection span.flag-wrapper.flag-selection a.unflag-action {
//  display: none;
//}

.show-inline-block {
  display: inline-block !important;
}

.reveal-modal-bg {
  z-index: 50;
}

// WHAT THE HELL !!!
.replace-title h2 {
  @extend h4;
  font-family: $font-family-sans-serif;
  margin-top: 0;
  padding-top: 0;
}

.fixed-top-right {
  position: absolute;;
  top: 0;
  right: 0;
  float: right;
  width: auto;
}

.dropdown {
  .flag-throbber {
    position: absolute;
  }
}

.panel-pane {
  position: relative;
}

h2.pane-title,
.page-perso .entity.entity-entityform-type h2 {
  @extend h3;
}

.no-title h2 {
  @extend .hide;
}

ul.chosen-choices {
  margin: 0 !important;
}

.page-perso .view {
  position: relative;
}

.page-perso h3 {
  font-family: $font-family-sans-serif;
  font-size: 1.2rem;
  padding: 1rem 0 .5rem 0;
  margin: 0;
}

@mixin custom-pane-title-src() {
  font-family: $font-family-sans-serif;
  margin: $column-gutter 0 0 0;
  font-size: .8rem;
  color: $grey-smoke;
  padding: $column-gutter $column-gutter $column-gutter/2 $column-gutter;
}

.page-perso h3.custom-pane-title, .custom-pane-title {
  @include custom-pane-title-src;
}

/* WEIRD ! orange background bug */
.view {
  background: none;
}

header.page-header ul.menu li {
  background: none !important;
}

.page-perso .pane-page-user-bien-search-api-collec {
  padding: 0 !important
}

body:not(.perso-page).node-type-bien-immobilier:not(.page-node-edit).logged-in .field-name-field-photos {
  max-height: none;
  overflow: visible;
}

.subtitle {
  font-size: .8rem;
}