@mixin single-transition($property:all, $speed:300ms, $ease:ease-out) {
  transition: $property $speed $ease;
  -webkit-transform: $property $speed $ease;
  -moz-transform: $property $speed $ease;
  -ms-transform: $property $speed $ease;
  -o-transform: $property $speed $ease;
  transform: $property $speed $ease;
}

/*
 * animate
 */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content
  }
  @-moz-keyframes #{$name} {
    @content
  }
  @-o-keyframes #{$name} {
    @content
  }
  @keyframes #{$name} {
    @content
  }
}

@mixin experimental($property, $value, $moz: true, $webkit: true, $o: true, $ms: true, $khtml: true, $official: true) {
  @if $webkit {
    -webkit-#{$property} : $value;
  }
  @if $khtml {
    -khtml-#{$property} : $value;
  }
  @if $moz {
    -moz-#{$property} : $value;
  }
  @if $ms {
    -ms-#{$property} : $value;
  }
  @if $o {
    -o-#{$property} : $value;
  }
  @if $official {
    #{$property} : $value;
  }
}

@include keyframes(heartbeat) {
  0% {
    zoom: 1;
  }
  14% {
    zoom: 1.15;
  }
  28% {
    zoom: 1;
  }
  42% {
    zoom: 1.15;
  }
  70% {
    zoom: 1;
  }
}

/*
 * lsit en side-nav (menu par exemple)
 */
@mixin list-side-nav() {
  @include side-nav(
          $divider-color: $green-deep,
          $font-size: 1.55rem,
          $link-color: $white,
          $link-color-hover: $white,
          $link-bg-hover: scale_color($green-deep, $lightness: -10%)
  );

  li {
    margin-bottom: 0;
    a {
      font-family: $font-family-serif;
      &:hover {
        color: $white;
      }
    }
  }
}

@mixin edit-field-photos() {
  .sticky-header {
    z-index: 9;
  }
  .image-preview img {
    width: 100%;
  }
  thead {
    th:last-child {
      position: absolute;
      right: 1rem;
    }
  }
  tr.draggable td {
    position: relative;
    &:last-child {
      position: absolute;
      right: 1rem;
      padding-top: 1rem;
    }
  }
  .warning.tabledrag-changed {
    position: absolute;
    top: 0;
    right: 0;
  }
  button {
    @extend .warning;
    padding: .8rem;
  }
  div.image-preview {
    padding: 0;
  }
  td .image-widget .image-widget-data {
    @include single-transition();
    display: none;
    position: absolute;
    bottom: rem-calc(5);
    left: rem-calc(5);
    padding: .5rem;
    background: transparentize($white, .2);
    width: auto !important;

    .description {
      display: none;
    }
  }
  tr:hover td .image-widget-data {
    display: block;
  }

  .tabledrag-handle {
    position: absolute;
    z-index: 1;
    margin-left: 0;
    .handle {
      padding: 1.5rem;
      margin: 0;
    }
  }
  .image-widget.form-managed-file {
    &, & > .image-widget-data {
      &, .droppable {
        width: 100%;
      }
    }
  }
}

@mixin active-form() {
  form.active {
    .form-wrapper:not(.field-name-field-body), .form-submit {
      display: block;
      position: relative;
      visibility: visible;
      width: auto;
      height: auto;
      overflow: visible;
      top: 0;
    }
  }
  .form-wrapper:not(.field-name-field-body), .form-submit {
    position: absolute;
    overflow: hidden;
    bottom: -10rem;
  }
}